/* You can add global styles to this file, and also import other style files */
// #424242

/* CSS reset */

html,
body {
  font-size: 10px;
  // font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-box {
  padding: 0 4.44%;
}

.navbar {
  background-color: #424242 !important;
}
