.title {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  .btn {
    background-color: #424242 !important;
    padding: 1.2rem 2.4rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0;
  }

  .btn-right {
    align-items: flex-end;
  }
}

.item-wrapper {
  margin-bottom: 1.5rem;

  label {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  input {
    height: 2.8rem;
    font-size: 1.4rem;
  }
}
