nav {
  height: 6.4rem;
  font-size: 1.6rem;

  .navbar-brand {
    img {
      margin-left: 5rem;
    }
  }

  .navbar-nav {
    margin-left: auto !important;
    margin-right: 4.44%;

    .nav-item {
      margin-left: 2rem;
      cursor: pointer;
      .active {
        color: red !important;
      }

      .nav-link {
        color: #f0f0f0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }

  .navbar-toggler {
    margin-right: 3.5%;
  }
}
